body {
  background-color: white;
  color: black;
    font-family: 'Oswald', sans-serif;
}

header {
  text-align: center;
  margin-top: 5px;
}

h1 {
  font-size: 36px;
  padding: 15px;
  color: #8c6b48;
  background-color: white;
}

h2 {
  font-size: 24px;
  padding: 15px;
  text-transform: uppercase;
}

h3 {
  font-size: 14px;
  padding: 15px;
  text-transform: uppercase;
  text-align: left;
  margin-left: 20px;
  font-weight: 500;
  line-height: 2.7;
  letter-spacing: 0.8px;
}

th {
  border: 2px solid #8c6b48;
}

table {
  text-align: center;
  margin: 20px auto;
}

td {
  border: 2px solid #8c6b48;
  width: 300px;
}


.left {
  width: 150px;
}
#bleu{
    background-color: #0000ff;
    margin: 0px;
    padding: 35px
    
}
#rouge{
    background-color: #ff0000;
    margin: 0px;
    padding: 35px
}
#vert{
    background-color: #008000;
    margin: 0px;
    padding: 35px
}
#font-family{
    font-family: fantasy;
}
#font-style{
    font-style: italic;
}
#font-size{
    font-size: 20px;
}
#font-weight{
    font-weight: bold;
}
#font-variant{
    font-variant: normal;
}